html, body, #root {
  height: 100%;
}

.app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.demo0 {
  position: relative;
  margin: 5px 3px 10px;
  /* width: 900px;
  height: 900px; */
  flex: 1;
}

.demo0-block {
  position: absolute;
  border-radius: 4px;
}

.demo0-dustball {
  position: absolute;
  border-radius: 500px;
  background-color: black;
}

.rotating-video {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.dusty {
  position: absolute;
  left: 60%;
  top: 70%;
  width: 8px;
  height: 8px;
  border-radius: 500px;
  background-color: rgba(29, 29, 29, 0.8);
  cursor: pointer;
  z-index: 5;
  animation: grow linear 1s infinite alternate, fadeColor linear 2.5s infinite alternate;
}

@keyframes grow {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.35);
  }
}

@keyframes fadeColor {
  from {
    background-color: rgba(29, 29, 29, 0.8);
  }
  to {
    background-color: rgba(29, 29, 29, 1);
  }
}

