html, body, #root {
  height: 100%;
}

.app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.demo0 {
  border-radius: 4px;
  background-color: rgb(240, 240, 232);
  position: relative;
  margin: 5px 3px 10px;
  /* width: 900px;
  height: 900px; */
  flex: 1;
  border: 1px solid black;
}

.demo0-block {
  position: absolute;
  border-radius: 4px;
}

.demo0-dustball {
  position: absolute;
  border-radius: 500px;
  background-color: black;
}

.rotating-video {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

